body {
  display: flex;
  justify-content: center;
  background-color: rgb(29, 29, 29);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2vmax;
  color: rgba(12, 12, 12, 0.767);
  height: 100vh;
}
.main-block {
  border-radius: 1vmax;
  display: flex;
  width: 25vmax;
  justify-content: center;
  height: 32vmax;
  align-items: center;
  background-color: rgb(238, 247, 255);
  overflow: hidden;
}
.text-block {
  width: 100%;
}
.inline {
  display: flex;
}
.input-top {
  border:none;
  border-bottom-color: rgba(0, 0, 0, 0.068);
  border-bottom-width: 0.1vmax;
  border-bottom-style: solid;
  width: 9vmax;
  font-size: 1vmax;
  outline: none;
  height: 1.2vmax;
  background-color: aliceblue;
  padding-left: 0.6vmax;
}
.main-block span {
  display: flex;
}
.main-block textarea {
  font-size: 1vmax;
  width: 20vmax;
  resize: none;
  height: 5vmax;
  border-color: rgb(207, 207, 207);
  border-width: 0.08vmax;
  border-style: solid;
  outline: none;
  background-color: aliceblue;
  border-radius: 1vmax;
  padding-top: 0.5vmax;
  padding-left: 2.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1vmax;
}
.block-submit {
  display: flex;
  justify-content: center;
}
.submit {
  margin-top: 1vmax;
  border:none;
  width: 100%;
  border-radius: 0.5vmax;
  outline: none;
  height: 2vmax;
  background-color: rgb(110, 149, 235);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2vmax;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.main-block label {
  display: block;
  user-select: none;
  cursor: pointer;
}
.main-block label input {
  cursor: pointer;
}